<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
    <div class="menu-container">
        <h1>Menu Principal</h1>

        
       
        <!-- Escola -->
        <div class="button-boxing">
            <div class="boxing-title">Escola</div>
            <div class="boxing-buttons">
                
                <button onclick="location.href='../controllers/cadastrar.php'">Cadastrar</button>
                
                <button onclick="location.href='alunos.php'">Listar Alunos</button>
                
                <button onclick="location.href='cursos.php'">Listar Cursos</button>
                
                <button onclick="location.href='disciplina.php'">Listar Disciplinas</button>
                
                <button onclick="location.href='turmas.php'">Listar Turmas</button>

                <button onclick="location.href='excluir.php'">Excluir/Pesquisar</button>
            </div>
        </div>
    </div>
</body>
</html>