<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Opções</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="menu-container">
        <h1>Menu de Opções</h1>
        <div class="button-boxing">
            <div class="boxing-title">Ações</div>
            <div class="boxing-buttons">
                <a href="../views/alunos.php" class="btn-list"><button type="button">Listar Alunos</button></a>
                <a href="../views/cursos.php" class="btn-list"><button type="button">Listar Cursos</button></a>
                <a href="../views/disciplinas.php" class="btn-list"><button type="button">Listar Disciplinas</button></a>
                <a href="../views/professor.php" class="btn-list"><button type="button">Listar Professores</button></a>
                <a href="../views/turmas.php" class="btn-list"><button type="button">Listar Turmas</button></a>
                <a href="../controllers/cadastrar.php" class="btn-cadastrar"><button type="button">Ir para Cadastros</button></a>
            </div>
        </div>
    </div>
</body>
</html>