<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
    <div class="menu-container">
        <h1>Menu Principal</h1>
        <div class="button-boxing escola">
            <div class="boxing-title">Gestão Escolar</div>
            <div class="boxing-buttons" style="flex-direction:column;gap:18px;width:100%;">
                <div class="btn-cadastrar">
                    <button onclick="location.href='../controllers/cadastrar.php'">Cadastrar Novo</button>
                </div>
                <button onclick="location.href='excluir.php?tipo=alunos'">Gerenciar Alunos</button>
                <button onclick="location.href='excluir.php?tipo=cursos'">Gerenciar Cursos</button>
                <button onclick="location.href='excluir.php?tipo=disciplinas'">Gerenciar Disciplinas</button>
                <button onclick="location.href='excluir.php?tipo=turmas'">Gerenciar Turmas</button>
            </div>
        </div>
        <a>Eduardo Cavalcante, 2025</a>
    </div>
</body>
</html>