/*plano de fundo em cor cinza*/


p.d11 {background-color: #ffff99;  text-align: right;}
p.d22 {background-color: #66ccff; text-align: right;border-style: dotted;}
p.d33{background-color: #99cc66;text-align: right;}