h1.d2 {font-size: 50px; color: white; border-style: dotted;;}
.d11111{ color: white; border-style: solid; border-color: white; font-family: Monaco;}
h1.d3 {color: yellow; text-decoration: underline;  }
.d22222{background-color: black; color: white; border-style: solid; border-color: white; font-family: Monaco;}
