p.d1111111 { background-color: yellow; text-align: left; border: 5px; }
p.d2222222 {background-color: aqua; text-align: center; border-style: dashed; border: 5px;}
p.d3333333 {background-color: greenyellow; text-align: right; border: 5px; list-style-image: url(png3.png);list-style-position: right;}